<?xml version="1.0"?>

<config>
    <modules>
        <Nomad_Rewrite>
            <version>0.1.0</version>
        </Nomad_Rewrite>
    </modules>
        
        
<global>
        <helpers>
            <Rewrite>
                <class>Nomad_Rewrite_Helper</class>
            </Rewrite>  
        </helpers>
        <blocks>
            <nomad_rewrite>
                <class>Nomad_Rewrite_Block</class>
            </nomad_rewrite>
        </blocks>
</global>        
 <admin>
        <routers>
            <rewrite>
                <use>admin</use>
                <args>
                    <module>Nomad_Rewrite</module>
                    <frontName>rewrite</frontName>
                </args>
            </rewrite>
            <adminhtml>
                <args>
                    <modules>
                        <nomad_rewrite after="Mage_Adminhtml">Nomad_Rewrite_Adminhtml</nomad_rewrite>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <nomad>
                    <file>rewrite.xml</file>
                </nomad>
            </updates>
        </layout>
    </adminhtml>    
    
</config>