<?xml version="1.0"?>

<config>
    <modules>
        <Nomad_Rewrite>
            <version>0.1.0</version>
        </Nomad_Rewrite>
    </modules>
        
        
<global>
        <helpers>
            <Rewrite>
                <class>Nomad_Rewrite_Helper</class>
            </Rewrite>  
        </helpers>
</global>        
    
    
        <admin>
        <routers>
            <rewrite>
                <use>admin</use>
                <args>
                    <module>Nomad_Rewrite</module>
                    <frontName>rewrite</frontName>
                </args>
            </rewrite>
        </routers>
    </admin>
    
 
    
    
    <adminhtml>
        <menu>
            <catalog translate="title" module="catalog">
                <title>Catalog</title>
                <sort_order>60</sort_order>
                <children>
                    <rewrite module="Rewrite">
                        <title>URL Rewrites</title>
                        <action>rewrite/rewrites</action>
                    </rewrite>
                </children>                
            </catalog>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <rewrite translate="title" module="Rewrite">
                            <title>Nomad Rewrite</title>
                            <sort_order>60</sort_order>
                            <children>
                                <rewrite>
                                    <title>URL Rewrites</title>
                                </rewrite>
                            </children>
                       </rewrite>
                   </children>
               </admin>
           </resources>
        </acl>
    </adminhtml>    
    
</config>